.page {
    height: 100vh;
}
.page ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.page textarea {
  font-size: 18px;
  font-weight: bold;
  background-color: grey;
  color: white;
}

.page textarea::placeholder {
  font-size: 28px;
font-weight: bold;
line-height: 1.5;
}

.contextBtn {
  width: 970px;
  height: 50px;
}

.contextBtn:hover {
opacity: 50%;
}

.selectedFilesMap {
  display: flex;
  justify-content: center;
  gap: 20px;
}


