.page {
    height: 100vh;
}
.page ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.page textarea {
  font-size: 18px;
  font-weight: bold;
  background-color: grey;
  color: white;
}

.page textarea::placeholder {
  font-size: 28px;
font-weight: bold;
line-height: 1.5;
}

.contextBtn {
  width: 800px;
  height: 50px;
}

.contextBtn:hover {
opacity: 50%;
}


.counter {
background-color: grey;
display: flex;
gap: 20px;
width: 170px;
height: 50px;
}


.submitContainer {
display: flex;
margin: 10px;
justify-content: center;
}


.selectedFilesMap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

