.page {

}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.loadingMessageText{
max-width: 800px;
font-size: 18px;
line-height: 2;
animation: slideIn 3s ease-out;
}

.loadHeader{
  display: flex;
  align-items: center;
  gap: 20px;
}

.underlineName{
text-decoration: underline;
  text-decoration-color: pink;
  text-underline-offset: 4px;
}


